.preview-wrapper {
  height: 100%;
  position: relative;
  flex-grow: 1;
}

.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
}

iframe {
  width: 100%;
  background-color: #fff;
  height: 100%;
}
